name: test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Execute Tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: |
        npm ci --no-audit --no-fund
        cd test && npm ci --no-audit --no-fund
    - name: Run tests
      run: npm run test
      env:
        CI: true
    - name: Create Coverage summary file
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: ./coverage/cobertura-coverage.xml
        format: markdown
        output: both
    - name: Write PR meta to file
      run: |
        echo "PR_HEADSHA=${{ github.event.pull_request.head.sha }}" >> pr.env
        echo "PR_NUMBER=${{ github.event.pull_request.number }}"    >> pr.env
    - name: Upload PR meta and Coverage summery artifacts
      uses: actions/upload-artifact@v2
      with:
        name: pr-comment-meta
        path: |
          pr.env
          code-coverage-results.md
        retention-days: 1
